        html {
            width: 100%;
            height: 100%;
        }
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: black;
            color: white;
        }
        a {
            color: grey;
        }
        h1 {
            font-size: 120%;
        }
        #container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        #cy {
            position: absolute;
            left: 0px;
            right: 15em;
            top: 0px;
            bottom: 0px;
            z-index: 1;
        }
        #overlay  {
            z-index: 2;
            width: 15em;
            height: 100%;
            float: right;
            overflow: auto;
        }
        #overlay-information {
        }
        #overlay-results {
        }
        div.table {
            display: table;
            border-collapse: collapse;
        }
        div.tr {
            display: table-row;
        }
        div.th {
            display: table-row;
            border-bottom: 1px solid grey;
        }
        div.td {
            display: table-cell;
            padding-left: 2px;
            padding-right: 2px;
        }

        #search  {
            position: relative;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            z-index: 3;
        }
        .smalltextbox {
            width: 100px
        }
